{% block ezlanguage_field_definition_edit %}
    <div class="ezlanguage-settings min-selection-length{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_row(form.minSelectionLength) -}}
    </div>
    <div class="ezlanguage-settings max-selection-length{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_row(form.maxSelectionLength) -}}
    </div>
{% endblock %}
